{% extends 'base.html' %}
{% block content %}

<h1>Marmot List</h1>

{% for marmot in marmots %}
    <div class="card">
        <a href="{% url 'detail' marmot.id %}">
            <div class="card-content">
               <span class="card-title">{{ marmot.name }}</span>
               <p>Species: {{ marmot.species }}</p>
               <p>Description: {{ marmot.description }}</p>
               {% if marmot.age > 0 %}
                   <p>Age: {{ marmot.age }}</p>
               {% else %}
                   <p>Age: Pup</p>
               {% endif %}
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}